@import "reset.css";
.quicksand_font {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
.ptseriffont {
  font-family: 'PT Serif', serif;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: #fff9e7;
}

body .container {
  background: #fff9e7 url("img/bg.png") no-repeat bottom right;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.header_top {
  width: 100%;
  height: 48px;
  background: #ff742b;
  background: linear-gradient(#ff8331, #ff6626);
}

.header_top .inner_header {
  height: 48px;
  display: flex;
  align-items: center;
}
.header_top .inner_header .logo {
  align-self: flex-end;
}
.header_top .inner_header .logo img {
  display: block;
}

.header_top .inner_header .main_navigation {
  flex-grow: 2;
}

.header_top .inner_header .header_cart {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #fff;
}
.header_top .inner_header .header_cart .cart_counter {
  border-right: 1px dotted rgba(255, 255, 255, 0.2);
  padding-left: 5px;
  padding-right: 10px;
  margin-right: 5px;
}
.header_top .inner_header .header_cart i.fa-shopping-basket {
  color: #ffea00;
}
.header_top .inner_header .header_cart a.ptseriffont {
  font-style: italic;
  color: #ffea00;
  font-size: 14px;
}
.header_top .inner_header nav {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.header_top .inner_header nav ul {
  font-size: 0px;
}
.header_top .inner_header nav ul li {
  display: inline-block;
  font-size: 12px;
  margin: 0 17px;
  border: 2px solid transparent;
  position: relative;
}

.header_top .inner_header nav ul li ul.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
}

.header_top .inner_header nav ul li ul.sub-menu::before {
  /*треугольник */
 
 content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4.5px 5px 4.5px;
  border-color: transparent transparent #fcfcfc transparent;
  position: absolute;
  top: -5px;
  left: 34px;
}
.header_top .inner_header nav ul li ul.sub-menu li {
  margin: 0 25px;
}
.header_top .inner_header nav ul li ul.sub-menu li:hover {
  border-color: transparent;
}
.header_top .inner_header nav ul li ul.sub-menu li:hover a {
  color: #ff742b;
}
.header_top .inner_header nav ul li ul.sub-menu a {
  color: #7b7a79;
}
.header_top .inner_header nav ul li:hover {
  border-top: 2px solid #ffea00;
}
.header_top .inner_header nav ul li:hover ul.sub-menu {
  display: block;
}
.header_top .inner_header nav ul li:hover a {
  color: #ffea00;
}
.header_top .inner_header nav ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 48px;
  display: block;
}
